@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:100|Raleway:100|Work+Sans:100|Libre+Baskerville:400,700);
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  font: 100% Libre Baskerville, serif;
  font-size: 24px;
  margin: 0;
  -webkit-tap-highlight-color: #ccc;
}

body a {
  text-decoration: none;
  color: inherit;
}

/***************************************************
  BEVAVIOR MANIPULATION - (Remove 300ms touch delay) */
/***************************************************/
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/***************************************************
  ELEMENT STYLES */
/***************************************************/
button {
  font: 100% Arimo, sans-serif;
}

.btn {
  vertical-align: middle;
  border: 3px solid grey;
  font: 100% Arimo, sans-serif;
  font-size: 2em;
  border-radius: 5px;
  background-color: rgba(63, 191, 184, 0.1);
}

/***************************************************
  PSEUDO SELECTORS */
/***************************************************/
.btn:focus {
  outline: none;
}

/***************************************************
  MAIN CONTENT STYLES */
/***************************************************/
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article, .songTrainer, .pitchPipe {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/***************************************************
  COMPONENT STYLES */
/***************************************************/
header {
  position: inline-block;
  background-color: white;
  box-sizing: border-box;
  border: 5px solid white;
  font-size: 48px;
  font-family: Arimo, sans-serif;
  padding: 0.15em 0;
}

@media (max-width: 1000px) {
  header {
    padding: 0.5em 0;
  }
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.songTrainer {
  text-align: center;
}

.songTrainer .displayText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

.songTrainer .btn {
  width: 100%;
  height: 2em;
}

.pitchPipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.pitchRow {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .pitchRow {
    height: 225px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.pitch {
  height: 100%;
  width: 187.5px;
  font-size: 6em;
  background-color: rgba(63, 191, 184, 0.1);
  line-height: 150px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 1000px) {
  .pitch {
    font-size: 7em;
    width: 33.333333%;
  }
}

.flashCards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#f1_container {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  position: relative;
  margin: 10px auto;
  width: 90%;
  height: 12.5em;
  z-index: 1;
  -webkit-perspective: 1000;
          perspective: 1000;
  margin: 2em 0;
}

@media (max-width: 1000px) {
  #f1_container {
    height: 17.5em;
  }
}

#f1_card {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 5px solid grey;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

.face {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 72px;
  box-sizing: border-box;
  padding: 0.5em;
}

.back {
  color: white;
  text-align: center;
  background-color: #aaa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back > * {
  margin: 0;
}

button {
  font-size: 4em;
}

/***************************************************
  PSUEDO SELECTORS */
/***************************************************/
.active {
  font-weight: bold;
}
