// header styles

header
  position: inline-block;
  background-color: white;
  box-sizing: border-box;
  border: 5px solid white;

.nav
  display: flex;
  flex-direction: row;
  justify-content: space-around;
