.pitchPipe
  @extend .article
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-between
  align-items: stretch

.pitchRow
  height: $pitch-row-height
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-content: center
  align-items: center
  @media (max-width: 1000px)
    height: $pitch-row-height * 1.5
    justify-content: space-around

.pitch
  height: 100%
  width: $pitch-row-height * 1.25
  // border-radius: 50%
  font-size: $button-font-size + 4
  @media (max-width: 1000px)
    font-size: $button-font-size + 5
    width: 33.333333%
  background-color: $button-color
  line-height: $pitch-row-height
  text-align: center
  padding-right: 0
  padding-left: 0

