@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:100|Raleway:100|Work+Sans:100|Libre+Baskerville:400,700);

$serif-font-stack: Libre Baskerville, serif
$font-size: 24px
$button-color: rgba(63, 191, 184, 0.10)
$button-font-size: 2em
$sans-serif-font-stack: Arimo, sans-serif
$border-color: grey
$background-color: rgb(240, 240, 240)
$article-background-color: white;
$pitch-row-height: 150px

html
  height: 100%
  width: 100%

body
  height: 100%
  width: 100%
  background-color: $background-color
  box-sizing: border-box
  font: 100% $serif-font-stack
  font-size: $font-size
  margin: 0
  -webkit-tap-highlight-color: #ccc;
  a
    text-decoration: none
    color: inherit

/***************************************************
  BEVAVIOR MANIPULATION - (Remove 300ms touch delay)
/***************************************************/

html
  touch-action: manipulation


/***************************************************
  ELEMENT STYLES
/***************************************************/

@import buttons

/***************************************************
  MAIN CONTENT STYLES
/***************************************************/

.main
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: center

.article
  margin: 0 auto
  display: flex
  flex-direction: column
  flex-wrap: wrap


/***************************************************
  COMPONENT STYLES
/***************************************************/

@import header
@import song-trainer
@import pitch-pipe
@import flash-cards

/***************************************************
  PSUEDO SELECTORS
/***************************************************/

.active
  font-weight: bold
